.btn-All{
    -fx-font:Microsoft JhengHei UI;
    -fx-font-size: 20;
    -fx-font-weight:900;
    -fx-background-radius:10px;
    -fx-margin: 0;
    -fx-padding:0;

    -fx-min-height:45px;
    -fx-max-height:45px;
    -fx-pref-height:45px;

    -fx-min-width:120px;
    -fx-max-width:120px;
    -fx-pref-width:120px;

    -fx-cursor: hand;
    -fx-transition: all 0.2s ease-in-out; 
}

.btn-All:hover{
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 8, 0, 0, 3);
}

.btn-All:selected{
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
    -fx-border-color: black;
    -fx-border-width:4px;
    -fx-border-radius:8px;

    -fx-opacity:0.6;
}

#btnFL{
    -fx-background-color: rgba(245,2,56,1);
}

#btnFR{
    -fx-background-color: rgba(219,129,0,1);
}

#btnRL{
    -fx-background-color: rgba(0,199,30,1);
}

#btnRR{
    -fx-background-color: rgba(0,159,230,1);
}

.btn-Temp{
    -fx-background-color: rgba(255,115,0,1);
}

#btnC{
    
}

#btnF{
    
}

#btnK{
    
}

.btn-Opt{
    -fx-background-color: #2E3353;
    -fx-text-fill:#FFFFFF;

    -fx-min-height:50px;
    -fx-max-height:70px;
    -fx-pref-height:70px;

    -fx-min-width:280px;
    -fx-max-width:280px;
    -fx-pref-width:280px;

    -fx-font-size: 25;

    -fx-border-color:black;
    -fx-border-width: 4px;
    -fx-border-radius:18px;

    -fx-background-radius:25px;
    
}

#btnStatus{
    -fx-min-height:55px;
    -fx-max-height:55px;
    -fx-pref-height:55px;

    -fx-min-width:180px;
    -fx-max-width:180px;
    -fx-pref-width:180px;

    -fx-padding: 20px;


    -fx-background-color:#909090;

    -fx-background-radius:20px;

    -fx-border-color:black;
    -fx-border-width: 2px;
    -fx-border-radius:20px;
}

#btnStatus:hover{

}

#btnStatus:selected{
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-border-color:black;
    -fx-border-width: 2px;
    -fx-border-radius:20px;

    -fx-opacity:1;
}

.btnStatus-on{
    -fx-fill: rgb(0, 255, 0);
    -fx-stroke: rgb(0, 255, 0);
}

.btnStatus-off{
    -fx-fill: rgb(255, 0, 0);
    -fx-stroke: rgb(255, 0, 0);
}

#btnStatus:hover{
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-effect: none;
}